<!DOCTYPE html>
<html>
  <head>
    <title>Amazon Scraping API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Amazon Scraping Web API</h1>
    <p>Built with love by Jamal Hussain</p>
  </body>
</html>
